.navbar-inverse {
	background-color: #48C8F3;
	border: #48C8F3;
}    
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	color: white;
	font-size: 14pt;
	font-weight: bold;
}

#notification {
  float: right;
}

#notification span {
  position: relative;
  right: -55%;
  color: #F06B2F;
  font-weight: bold;
}

#slide-nav {
	padding-top: 5px;
}